<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Exercise Tracker</h1>

    <!-- Crear usuario -->
    <div>
      <h2>Create User</h2>
      <form id="createUserForm">
        <input type="text" id="username" placeholder="Username" required />
        <button type="submit">Create User</button>
      </form>
    </div>

    <!-- Agregar ejercicio -->
    <div>
      <h2>Add Exercise</h2>
      <form id="addExerciseForm">
        <input
          type="text"
          id="description"
          placeholder="Description"
          required
        />
        <input
          type="number"
          id="duration"
          placeholder="Duration (min)"
          required
        />
        <input type="date" id="date" />
        <button type="submit">Add Exercise</button>
      </form>
    </div>

    <!-- Ver ejercicios -->
    <div>
      <h2>User's Exercises</h2>
      <form id="viewExercisesForm">
        <input type="text" id="userId" placeholder="User ID" required />
        <button type="submit">View Exercises</button>
      </form>
      <div id="exerciseLog"></div>
    </div>

    <script src="/index.js"></script>
  </body>
</html>
